:root {
    --color-red: 227 6 19;
    --color-light-blue: 0 152 165;
    --color-sky-blue: 243 250 251;
    --color-gray: 102 112 133;
    --color-black: 0 0 0;
    --color-white: 255 255 255;
    --color-dark-gray: 51 51 51;
    --color-offwhite: 245 245 245;
    --color-offwhite-dark: 240 240 240;
}
